# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
db.sqlite3

# Virtual env
.env
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Data & large files
*.csv
*.zip
*.h5
*.pt
*.bin
*.tar
*.gz
data/

# Local ML models
ddi_model/

# Hugging Face cache
.cache/
hf_cache/

# Node (if any)
node_modules/
dist/
build/
